body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4b3367;
}

.App-container {
  background: linear-gradient(to bottom left, #F0B5CE, #8C6BAE);
  border-radius: 20px;
  width: 90%;   /* Задай нужную ширину */
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  opacity: 0.8;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-container-intro{
  background: linear-gradient(to bottom left, #F0B5CE, #8C6BAE);
  border-radius: 20px;
  width: 90%;   /* Задай нужную ширину */
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  opacity: 0.8;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  justify-content: center;
}
.App-input{
  width: 100%;
  min-width: 300px;
  font-size: 30px;
  min-height: 40px;
  background: transparent;
  border: 1px solid #743877;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.current-card{
  border: 1px #743877 solid;
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(to bottom left, #8188af, #bb88e8);
  min-height: 320px;
  min-width: 70%;
  display: flex;
  justify-content: space-between;
}
.temp-size{
  font-size: 90px;
  padding: 0;
  margin: 0;
  font-family: system-ui;
}
.card-temp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -15px;
  padding: 0;
}
.card-temp p{
  margin: 0;
  text-shadow: #4b3367 -2px 3px 2px;
}
.img-weather{
  height: 100px;
}
.back-btn{
  font-size: 30px;
  width: 80px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #743877;
}
.back-btn:hover{
  background: #b3b3b3;
}
.card-location{
  text-shadow: #4b3367 -2px 3px 2px;
  font-size: 0.7em;
  width: 50%;
  max-width: 300px;
}
.current-card-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-current{
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  margin: 10px;
}
.info-current p{
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
}
.info-current img{
  width: 25px;
  padding: 0 3px;
}
.current-card-input{
  margin: 20px;
}
.current-card-input input{
  width: 350px;
  border-radius: 15px;
  border: 2px solid #404d70;
}
.current-card-input input:focus{
  border: 2px solid #404d70;
  background-color: #d1b4f1;
  color: #000000;
}
@media (max-width: 800px){
  .current-card{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .card-location{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card-location img{
    width: 25px;
  }
  .App-container{
    width: 77%;
  }
  .current-card-input input{
    width: 280px;
  }
  .App-container-intro{
    width: 77%;
  }
}